{% extends 'base.html' %}

{%block content %}

<div class="card" style="padding-bottom:10px;">
   <div class="card__header">
      <h1>Hello, Network Engineers!</h1>
      <p class="lead">This is a simple config generators and network automation.</p>
      <p>It uses python3, nornir and other python modules.</p>
      <p class="lead">
         <a class="btn btn-primary btn-lg" href="#!" role="button">Automate</a>
      </p>
   </div>


   <div id="content__grid">
      <!-- CONTENT PART -->
      <div class="container">
         <div class="row">

            <!-- PUT CONTENT HERE -->

         </div>
      </div>
   </div>
</div>
{%endblock content %}