{% if mitigate == 'Divert All' %}
router bgp 18190
neighbor 172.17.192.221 prefix-list DIVERT_ALL_IMPERVA out
neighbor 222.127.28.9 prefix-list DIVERT_ALL_ISP out
do clear ip bgp * soft out
{% elif mitigate == 'No Divert All' %}
router bgp 18190
neighbor 172.17.192.221 prefix-list DIVERT out
neighbor 222.127.28.9 prefix-list NORMAL out
do clear ip bgp * soft out

{% elif mitigate == 'Divert' %}
no ip prefix-list DIVERT seq {{seq}} deny {{net.network_address}}/24 le 32
ip prefix-list DIVERT seq {{seq}} permit {{net.network_address}}/24 le 32

no ip prefix-list NORMAL seq {{seq}} permit {{net.network_address}}/24 le 32
ip prefix-list NORMAL seq {{seq}} deny {{net.network_address}}/24 le 32

no ip prefix-list RADIUS seq {{seq}} permit {{net.network_address}}/24 le 32
ip prefix-list RADIUS seq {{seq}} deny {{net.network_address}}/24 le 32

do clear ip bgp * soft out

{% elif mitigate == 'No Divert' %}
no ip prefix-list NORMAL seq {{seq}} deny {{net.network_address}}/24 le 32
ip prefix-list NORMAL seq {{seq}} permit {{net.network_address}}/24 le 32

no ip prefix-list DIVERT seq {{seq}} permit {{net.network_address}}/24 le 32
ip prefix-list DIVERT seq {{seq}} deny {{net.network_address}}/24 le 32

no ip prefix-list RADIUS seq {{seq}} deny {{net.network_address}}/24 le 32
ip prefix-list RADIUS seq {{seq}} permit {{net.network_address}}/24 le 32

do clear ip bgp * soft out
{% endif %}