{% for x in ipaddr %}
{%- set ipaddr = x %}
{%- set x = x|string %}
{%- set vlan = x.split(".") %}
{%- set vlan = vlan[-1] %}
vlan {{vlan}}
!
interface vlan {{vlan}}
ip address {{priv_address}}.{{vlan}}.254 255.255.255.0
!
ip dhcp pool {{poolname}}_{{vlan}}
network {{priv_address}}.{{vlan}}.0 255.255.255.0
default-router {{priv_address}}.{{vlan}}.254
dns-server 8.8.8.8 208.67.222.222 208.67.220.220
!
ip dhcp excluded-address {{priv_address}}.{{vlan}}.254
!
ip access-list extended O{{poolname}}_{{vlan}}
permit ip any any
!!!!
{% endfor %}